html{
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
    width: 100%;
}
body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.pull-left{
    float: left!important;
}
.pull-right{
    float: right!important;
}
.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both!important;
}
.hide{
    display: none;
}

select, select option {
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

input, button {
  background: none;
  outline: none;
  border: 0px;
}

button {
    margin: 2rem 0;
    padding: 0.5rem 0.7rem;
    background-color: #f5f5f5;
    cursor: pointer;
}

button:active {
    background-color: #ccc;
}
/*======
    修改placeholder的颜色
    ======*/
:-ms-input-placeholder{
    color: #000;
}
::-moz-placeholder{
    color: #000;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: #000;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #000;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc;
}
